* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header	{
	display: flex;
	width: 90%;
	margin: auto;
	height: 10vh;
	align-items: center;
}

.logo-container, .nav-links, .cart {
	display: flex;
}

.logo-container {
	flex: 1;
}

.logo {
	font-weight: 400;
	margin: 5px;
}

nav {
	flex: 2;
}

.nav-links {
	justify-content: space-around;
	list-style: none;

}

.nav-link{
	color: #5f5f79;
	font-size:18px;
	text-decoration: none;
}

.cart {
	flex: 1;
	justify-content: flex-end;
}
